fastapi>=0.109.2
uvicorn>=0.27.0
pydantic>=2.7.4
requests>=2.31.0
python-multipart>=0.0.9
opencv-python-headless==4.9.0.80
mediapipe==0.10.9
langchain>=0.3.0
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community>=0.3.0
faiss-cpu
psycopg2-binary
sqlalchemy